<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sklep</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="static/style.css" rel="stylesheet">
    
  </head>
  <body>
  </body>
</html>

<body>
    <div id="left" style="float:left">
        <a href="{{ url_for('options.home') }}">
			Home
		</a>
    </div>
    
    <div id="header" style=float:left>
		<a href="{{ url_for('options.saldo') }}">
			Saldo
		</a>
        <a href="{{ url_for('options.zakup') }}">
			Zakup
		</a>
        <a href="{{ url_for('options.sprzedaz') }}">
			Sprzedaz
		</a>
        <a href="{{ url_for('options.historia') }}">
			Historia
		</a>
    </div>
    <div id="nic" style="clear:both"></div>

	<div id="container">
		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>







