{% extends "base.html" %}

{% block content %}
    <div class="home" style="float:left">
        <h2>SALDO</h2>
            {{balance}} zł
    </div>
    <div class="home" style="float:left">
        <h2>ASSORTMENT</h2>
        {%for line in assortment%}
            {{line}} {{ assortment[line] }} <br>
        {%endfor%}
    <div style="clear:both"></div>
    </div>
    
    

{% endblock %}