{% extends "base.html" %}

{% block content %}

<form action= "/" method="GET">
			
  Kwota
  <input type="text" name="cena_saldo">
  
  <br /><br />
  
  Komentarz
  <input type="text" name="komentarz">
  
  <br /><br />
  
  <input type="submit" value="OK">
  
</form>

{% endblock %}