{% extends "base.html" %}

{% block content %}

<form action= "/" method="GET">
			
  Id produktu
  <input type="text" name="id">
  
  <br /><br />
  
  cena za sztukę
  <input type="text" name="cena_sprzedaz">
  
  <br /><br />
  ilosc
  <input type="text" name="ilosc">
  
  <br /><br />
  
  <input type="submit" value="OK">
  
</form>
    

{% endblock %}