body
{
  background-color: #D3D3D3;
  /* color: #ffffff; 
  font-family: 'Lato', sans-serif; */
  font-size: 20px;
}

.home
{
    padding: 20px;

}

#container
{
  width: 400px;
  margin-top: 200px;
  margin-left: 550px;
  margin-right: auto;
  text-align: center;
}

#left
{
  font-size: 18px;
  width: 50%;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

#header
{
  font-size: 18px;
  width: 100%;
  text-align: right;

}

a
{
  text-decoration: None;
  padding-right: 20px;
}

a:hover
{
  color: brown;
}


input[type=submit]
{
  font-size: 15px;
}